body{
	margin-top: 60px;
	background-color: #000;
}
.navbar {
	overflow: hidden;
	background-color: #1B2A41;
	position: fixed;
	padding: 0px 0px;
	top: 0;
	left: 0;
	width: 100%;
}

.navbar a {
	float: left;
	display: block;
	color: #a0a0d0;
	text-align: left;
	padding: 16px 16px;
	text-decoration: none;
	font-size: 17px;
}

.main {
	text-align: center;
	padding: 0px 16px;
}

.mainh1 {
	text-align: center;
	padding: 0px 16px;
	color:#125E8A;	
}

