html, body {
  margin: 0;
  overflow: hidden;
}

body {
  background: black;
}

input {
  position: fixed;
  top: 10px;
  left: 10px;
}

@keyframes glow {
	from {
		box-shadow: 0 0 0.1vw #fff, 0 0 0.2vw #fff, 0 0 0.3vw #fff, 0 0 0.5vw #228DFF, 0 0 0.7vw #228DFF, 0 0 0.8vw #228DFF, 0 0 1vw #228DFF, 0 0 1.2vw #228DFF;
	}
	to {
		box-shadow: 0 0 0.3vw #fff, 0 0 0.6vw #fff, 0 0 0.9vw #fff, 0 0 1.2vw #228DFF, 0 0 2.0vw #228DFF, 0 0 2.4vw #228DFF, 0 0 2.8vw #228DFF, 0 0 3.2vw #228DFF;
	}
}
@keyframes glowgreen {
	from {
		text-shadow: 0 0 0.1vw #fff, 0 0 0.2vw #fff, 0 0 0.3vw #fff, 0 0 0.4vw green, 0 0 0.5vw green, 0 0 0.6vw green, 0 0 0.7vw green, 0 0 0.8vw green;
	}
	to {
		text-shadow: 0 0 0.2vw #fff, 0 0 0.3vw #fff, 0 0 0.4vw #fff, 0 0 0.5vw green, 0 0 0.6vw green, 0 0 0.7vw green, 0 0 0.8vw green, 0 0 0.9vw green;
	}
}